.cell{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;


    &.start{
        background-color: green !important ;
    }

    &.finish{
        background-color: red !important ;
    }

    &.visited{
        background-color: aqua;
    }

    &.wall{
        background-color: black;
    }

    &.shortestPathNode{
        background-color: yellow !important;
    }
}