.cell{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;


    &.start{
        background-color: green ;
    }

    &.finish{
        background-color: red ;
    }

    &.visited{
        background-color: aqua;
    }
}