.footer-wrapper {
    
    width: 100%;
    background-color: rgba(128, 128, 128, 0.147);
    width: 80vw;
    // position: fixed;
    // bottom: 0;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem auto;



}